version: "3.9"

services:
  web:
    build: .
    container_name: django_app
    command: gunicorn threat_platform.wsgi:application --bind 0.0.0.0:8000
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db

  db:
    image: postgres:15
    container_name: postgres_db
    environment:
      POSTGRES_DB: threat_db
      POSTGRES_USER: threat_user
      POSTGRES_PASSWORD: threat_pass
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

volumes:
  postgres_data:
